.place__title {
    margin: 0;

    font-weight: 900;
    font-size: 72px;
    line-height: 76px;

    color: #FFFFFF;
}

@media screen and (max-width: 940px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
    .place__title:first-of-type {
        max-width: 97%;
    }
}

@media screen and (max-width: 640px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;

    }
}