.intro__list {
    list-style-type: none;
    margin: 33px 0 92px 0;
    padding: 0;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .intro__list {
        margin: 33px 0 88px 0;
    }
}

@media screen and (max-width: 425px) {
    .intro__list {
        margin: 34px 0 64px 0;
    }
}