.cover__subtitle {


    margin: 32px 0 0 0;
    max-width: 360px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;

    z-index: 1;
}

@media screen and (max-width: 600px) {
    .cover__subtitle {
        margin: 16px 0 0 0;
        font-size: 14px;
        line-height: 16px;
    }
}
