.header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    padding: 28px 48px 0 48px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 28px 24px 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding: 16px 16px 0 16px;
    }
}