.place__paragraph {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

.place__paragraph:nth-child(2) {
    margin-top: 26px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        font-size: 16px;
        margin: 0 16px 0 16px;
    }
}
