.footer__copyright {
    text-decoration: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    text-align: right;

    color: #FFFFFF;
}

/*@media screen and (max-width: 425px) {
    .footer {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}*/

@media screen and (max-width: 425px) {
    .footer__copyright {
        margin: 48px 0 24px 0;
        justify-self: left;
        line-height: 14px;
    }
}