.intro {
    display: grid;
    margin: 0 148px 0 148px;
    max-width: 690px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 0 48px;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin: 0 24px 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        margin: 0 16px 0 16px;
    }
}
