.place__link {
    margin-top: 12px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    text-decoration-line: underline;

    color: #FFFFFF;
    transition: opacity 0.3s ease;
}

.place__link:hover {
    opacity: 0.8;
}