.cover__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: no-repeat url("../../../images/cover-trains.jpg");
    background-size: cover;
    position: relative;
    aspect-ratio: 1 / 0.625;

    text-decoration: none;
}
.cover__background::before {
    content: '';
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: 0.3;
    background-color: rgb(42, 44, 47);
}

.cover__background:hover::before{
    opacity: 0.8;
    transition: 0.8s; /*плавно только затухает подумать*/
}

