.cover__title {

    margin: 0;
    max-width: 560px;

    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;

    z-index: 1;

}

@media screen and (max-width: 600px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 240px;
    }
}
