.footer {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    margin: 92px 48px 24px 48px;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 88px 24px 24px 24px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        margin: 64px 16px 0 16px;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}