.place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

@media screen and (max-width: 425px) {
    .place__website {
        margin: 0 16px 0 16px;
    }
}