.intro__title {
    display: grid;
    margin: 92px 0 0 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .intro__title {
        margin: 88px 0 0 0;
    }
}

@media screen and (max-width: 425px) {
    .intro__title {
        margin: 64px 0 0 0;
        font-size: 32px;
        line-height: 35px;
    }
}